        <footer class="inverse">

            <div class="row">
                <div class="small-12 columns">

        <p class="right">
            <a href="#">
                <i class="fa fa-angle-up"></i> top
            </a>
        </p>
        <div class="name">
            <a href="/"><amp-img width="98" height="80" src="/images/logo-footer.png"></a>
        </div>

<div class="place">
          <h2><a href="/posts.html">Blog</a></h2>
        </div>
        <div class="place">
        </div>

          <h2>Elsewhere</h2>
            <ul class="no-bullet">
              <li class="social-icon">
                  <a href="https://github.com/cbosco" title="github">
                    <i class="fa fa-github"></i>
                      cbosco
                  </a>
              </li>
              <li class="social-icon">
                  <a href="http://twitter.com/cbsides" title="Twitter">
                    <i class="fa fa-twitter"></i>
                  @cbsides
                  </a>
              </li>
              <li class="social-icon">
                  <a href="http://instagram.com/chrisbosco" title="Instagram">

                    <i class="fa fa-instagram"></i>
                      chrisbosco
                  </a>
              </li>

              <li class="social-icon">
                  <a href="http://www.linkedin.com/in/chrisbosco" title="LinkedIn">

                    <i class="fa fa-linkedin-square"></i>
                  Chris Bosco
                  </a>
              </li>

              <li class="social-icon">
                <a href="mailto:contact@chrisbosco.com">
                    <i class="fa fa-envelope"></i>
                  contact@chrisbosco.com
                  </a>
              </li>
            </ul>
          <p class="copyright">
            &copy; 2007-2016 <a href="mailto:contact@chrisbosco.com">Chris Bosco</a>
          </p>

                </div><!-- .row -->
            </div><!-- .small-12 columns -->
        </footer>

        <amp-analytics type="googleanalytics">
        <script type="application/json">
        {
          "vars": {
            "account": "UA-4850138-1"
          },
          "triggers": {
            "defaultPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
        </script>
        </amp-analytics>

