<div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <a href="/"><img src="/images/logo-masthead.png"></a>
        </li>
    </ul>

    <section class="top-bar-section">
        <div class="right">
            <span class="social-icon">
                <a href="mailto:contact@chrisbosco.com">
                    <i class="fa fa-envelope"></i>
                </a>
            </span>
            <span class="social-icon">
                <a href="https://github.com/cbosco" title="github">
                    <i class="fa fa-github"></i>
                </a>
            </span>
            <span class="social-icon">
                <a href="http://twitter.com/cbsides" title="Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </span>
            <span class="social-icon">
                <a href="http://www.linkedin.com/in/chrisbosco" title="LinkedIn">
                    <i class="fa fa-linkedin-square"></i>
                </a>
            </span>
            <span class="social-icon">
                <a href="http://instagram.com/chrisbosco" title="Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </span>
        </div>
    </section>

    </nav>
</div>
